body {
    padding: 5% 10%;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
}

ol {
    list-style-type: lower-greek;
}

ul li:nth-child(2) {
    color: blueviolet;
    padding: 50px;
}

ul ::marker {
    color: red;
    font-size: 2em;
    content: "only $5>>";
}