body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: white;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 8rem;
}

.right {
    float: right;
    margin-left: 8rem;
}

/* 
p {
    margin-left: 20%;
} */

.clear {
    clear: both;
}

/* By using margin-left we can seperate float and p from each other */

section {
    background-color: bisque;
    border: 1px solid red;
    padding: 1rem;
    /* overflow: auto; */
    display: flow-root;
}