* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

nav {
    border: 2px solid royalblue;
    border-radius: 32px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 600px;
    font-size: 2rem;
    line-height: 7rem;
}

li a {
    display: block;
}

ul li {
    list-style-type: none;
    border-top: 1px solid black;
}

h2 {
    background-color: gold;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

li:last-child a {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}