/* h1 {
    border: 2px dotted red;
    width: 52%;
    font-size: 3rem;
    padding: 2rem;
    margin-left: 50px;
} */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    border: 2px dotted red;
    width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}